<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eats Known For</title>
    </head>
    <body>
        <ul>
            {{/* loop */}}
            {{range .}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </body>
</html>